.cards {
    border-bottom: 1px solid rgb(235, 235, 235);
    padding: 0.8rem 0.8rem;
    display: flex;
    flex-direction: column;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    &:hover {
        cursor: pointer;
        background-color: rgb(238, 248, 252);

        .title {
            text-decoration: underline;
        }
    }

    .title {
        margin: 0;
        font-size: large;
        font-weight: 500;
    }

    .description {
        font-size: medium;
        font-weight: 400;
        margin: 10px 0;
    }


    a {
        color: rgb(171, 171, 171);
        text-decoration: none;
    }
}